.istopic {
color: #6b2bd6;
}

.topic-L0 {
font-size: 30px;
text-indent: 0px;
}

.topic-L1 {
font-size: 25px;
text-indent: 18px;
}

.topic-L2 {
font-size: 20px;
text-indent: 36px;
}

.topic-L3 {
font-size: 15px;
text-indent: 54px;
}

.topic-L4 {
font-size: 15px;
text-indent: 72px;
}

.topic-L5 {
font-size: 15px;
text-indent: 90px;
}

.topic-L6 {
font-size: 15px;
text-indent: 108px;
}

.topic-L7 {
font-size: 15px;
text-indent: 126px;
}

.topic-L8 {
font-size: 15px;
text-indent: 144px;
}

.topic-L9 {
font-size: 15px;
text-indent: 162px;
}

